@import "tailwindcss";
:root {
  background-color: black;
}
div::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Tried doing some customs themes and it didn't work the way i wanted it to*/